html {
  background: url("https://img.freepik.com/vetores-premium/fundo-da-copa-do-mundo-de-futebol-para-banner-campeonato-de-futebol-de-2022-no-qatar_29865-3054.jpg?w=2000") center center no-repeat;
  background-size: cover;
  height: 125%;

  @media(max-Width: 600px) {
    height: 250%;
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Header {
  background-color: transparent;
  padding-left: 20px;
  
  img {
    width: 75px;
  }
}

.title {
  width: 450px;
  text-align: center;
  color: white;
  display: flex;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .fristSubTitle {
    font-size: 35px;
  }

  @media(max-Width: 400px) {
    width: 300px;
  }
}

.alert-not-match {
  font-family: 'Roboto', sans-serif;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  @media(max-Width: 600px) {
    flex-direction: column;
  }

  .block-of-clubs {
    display: flex;
    max-width: 400px;
    min-width: 400px;
    max-height: 350px;
    min-height: 350px;
    background-color: rgba(216, 216, 216, 0.932);
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;

    @media(max-Width: 800px) {
      font-size: 15px;
    }

    @media(max-Width: 400px) {
      max-width: 300px;
      min-width: 300px;
      max-height: 325px;
      min-height: 325px;
    }

    .match {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .palpite-area {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: rgb(113, 113, 113);
      font-size: 15px;
    }
  }
}

.infosMatch {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.alert {
  color: #8c0033;
  display: flex;
  justify-content: center;
}

.palpite {
    display: flex;
  justify-content: center;
}