.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Header {
  background-color: rgb(32, 128, 31);
  color: rgb(255, 255, 0);
}

.Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .block-of-clubs {
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;

    .clubs {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
}

