html {
  background: url("https://img.freepik.com/vetores-premium/fundo-da-copa-do-mundo-de-futebol-para-banner-campeonato-de-futebol-de-2022-no-qatar_29865-3054.jpg?w=2000") center center no-repeat;
  background-size: cover;
  background-color: #300817;
  height: 100%;

  @media(max-Width: 600px) {
    height: 150%;
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Header {
  background-color: transparent;
  padding-left: 20px;
  
  img {
    width: 75px;
  }
}

.title {
  width: 400px;
  text-align: center;
  color: white;
  display: flex;
  margin: auto;

  @media(max-Width: 400px) {
    width: 300px;
  }
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  @media(max-Width: 600px) {
    flex-direction: column;
  }

  .block-of-clubs {
    display: flex;
    width: 400px;
    background-color: rgb(216, 216, 216);
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    color: black;
    font-size: 20px;
    font-weight: 500;

    @media(max-Width: 400px) {
      font-size: 15px;
      width: 300px;
    }

    .match {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .palpite-area {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: rgb(113, 113, 113);
      font-size: 15px;
    }
  }
}

.infosMatch {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}